.festival-header{
  min-height: 300px;
  background: image-url('jrmf_pic.jpg');
  background-image: image-url('jrmf_pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin:-3rem 0 0 0;
  h1{
    margin:130px 0 0 0;
  }
  h1, h2{
    text-align:center;
  }
  .festival-header-cover{
    background-color: rgba(0, 0, 0, 0.60)
  }
}

#stripe_error{
  margin-top: 1rem;
  color: red;
  font-weight: bold;
  text-align: center;
}
